@import '~/css/helpers';

.pin-spacer {
  position: relative;
  z-index: 1;
}

.model-container {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  width: tovw(500px, 'desktop-large', 300px);
  height: tovw(500px, 'desktop-large', 300px);
  transform: translateY(-50%);

  @media screen and (max-width: 800px) {
    top: 45vh;
  }
}

.content {
  padding: 3ch;

  input {
    width: 80%;
    padding: 0.5ch;
    background-color: var(--color-background-tile-primary);
  }
}

.title {
  font-size: tovw(56px, 'desktop', 20px);
  font-weight: 900;
  font-family: var(--font-basement-grotesque, var(--font-system));
  max-width: max-content;
  margin: 0 auto;
  text-transform: capitalize;
  line-height: calc(86 / 72);
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: tovw(17px, 'mobile');
  }
}


.gridContainer {
  display: grid;
  gap: 15px;
  padding-top: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
}

.clusterButton {
  background-color: var(--color-background-tile-primary);
  padding: 1ch;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;

  &.selected {
    background-color: var(--color-orange);
  }
}