@import '../../../css/helpers';

.pin-spacer {
  position: relative;
  z-index: 1;
}

.model-container {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  width: tovw(500px, 'desktop-large', 300px);
  height: tovw(500px, 'desktop-large', 300px);
  transform: translateY(-50%);

  @media screen and (max-width: 800px) {
    top: 45vh;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: tovw(28px, 'desktop-large', 16px);

  div:nth-child(3) {
    height: tovw(115px);
  }
}

.footer {
  padding: 16px;
  display: grid;
  column-gap: tovw(24px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;

  @media screen and (max-width: 800px) {
    margin-top: tovw(24px, 'tablet', 24px);
    gap: tovw(24px, 'desktop', 24px);
  }

  p {
    text-align: justify;
    font-size: tovw(14px, 'desktop', 14px);
  }
}
