@import '../../../css/helpers';

.home {
  min-height: 100vh;
}

.pin-spacer {
  position: relative;
  z-index: 1;
}

.model-container {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  width: tovw(500px, 'desktop-large', 300px);
  height: tovw(500px, 'desktop-large', 300px);
  transform: translateY(-50%);

  @media screen and (max-width: 800px) {
    top: 45vh;
  }
}


.pin {
  position: relative;
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;

  padding-right: 2vw;
  padding-left: 2vw;

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: tovw(28px, 'desktop-large', 16px);
    
  
    div:nth-child(3) {
      height: tovw(115px);
    }
  }

  .title {
    font-size: tovw(56px, 'desktop', 20px);
    font-weight: 900;
    font-family: var(--font-basement-grotesque, var(--font-system));
    max-width: max-content;
    margin: 0 auto;
    text-transform: capitalize;
    line-height: calc(86 / 72);
    text-align: center;
    margin-top: 50vh;

    @media screen and (max-width: 800px) {
      font-size: tovw(17px, 'mobile');
    }
  }
}

.answer {
  height: 30vh;
  flex-direction: row;
  flex: 1
}

.answer-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  flex: .5;
}