@import '../../../css/helpers';

.home {
  min-height: 100vh;
}

.pin-spacer {
  position: relative;
  z-index: 1;
}

.model-container {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  width: tovw(500px, 'desktop-large', 300px);
  height: tovw(500px, 'desktop-large', 300px);
  transform: translateY(-50%);

  @media screen and (max-width: 800px) {
    top: 45vh;
  }
}

.content {
  display: grid;
  padding-left: 2vw;
  padding-right: 2vw;
}

.title {
  font-size: tovw(56px, 'desktop', 20px);
  font-weight: 900;
  font-family: var(--font-basement-grotesque, var(--font-system));
  max-width: max-content;
  margin: 0 auto;
  text-transform: capitalize;
  line-height: calc(86 / 72);
  text-align: center;
  margin-top: 10vh;

  @media screen and (max-width: 800px) {
    font-size: tovw(17px, 'mobile');
  }
}

.answerGridContainer {
  display: grid;
  gap: 15px;
  padding: 15px;
  height: auto;

  &.auto-column {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &.single-column {
    grid-template-columns: 1fr;
  }

}

.answerContainer {
  background-color: var(--color-background-tile-primary);
  padding: 1ch;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;

  &Description {
    transition-duration: 500ms / $duration;
    font-size: 1rem;
    padding: 1ch;
    font-family: var(--font-basement-grotesque, var(--font-system));
  }
}

.imageContainer{
}