@import '../../../css/helpers';

.pin-spacer {
  position: relative;
  z-index: 1;
}

.model-container {
  position: absolute;
  z-index: 100;
  top: 40vh;
  right: 0;
  transform: translateY(-50%);

  @media screen and (max-width: 800px) {
    top: 45vh;
  }
}

.pin {
  position: relative;
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  padding-right: 2vw;
  padding-left: 2vw;

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: tovw(28px, 16px, 'desktop-large');

    div:nth-child(3) {
      height: tovw(115px);
    }
  }

  .title {
    font-size: tovw(28px, 20px, 'desktop');
    font-weight: 900;
    font-family: var(--font-pp-mori, var(--font-system));
    max-width: max-content;
    margin: 0 auto;
    line-height: calc(86 / 72);
    text-align: center;
    margin-top: 70vh;

    @media screen and (max-width: 800px) {
      font-size: tovw(18px, 18px, 'mobile');
      margin-top: 55vh;
    }

    .highlight {
      color: var(--wavy-1);
      font-style: italic;
    }
  }
}
