@import '~/css/helpers';

.pin-spacer {
  position: relative;
  z-index: 1;
}

.content {
  padding: 15px;

  button {
    border-radius: 1ch;
    border-width: 1px;
    padding: 0.75ch;
    margin: 3ch 1ch 0 0;
    min-width: 20%;
    border-color: var(--color-text-primary);
  }

  button:focus {
    background-color: var(--color-background-box);
  }

  .center {
    text-align: center;
  }
}

.name {
  font-size: tovw(56px, 'desktop', 20px);
  font-weight: 600;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: tovw(17px, 'mobile');
  }
}

.archetype {
  font-size: tovw(56px, 20px, 'desktop');
  font-weight: 600;
  font-family: var(--font-pp-rader, var(--font-system));
  overflow-y: visible;
  line-height: 0.9;
  margin: 1rem 0;

  @media screen and (max-width: 800px) {
    font-size: tovw(49px, 40px, 'mobile');
  }
}

.wavyText {
  background: linear-gradient(
    to right,
    var(--wavy-1) 20%,
    var(--wavy-2) 30%,
    var(--wavy-3) 70%,
    var(--wavy-1) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: text-shine 4s ease-in-out infinite;
}

@keyframes text-shine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.answerGridContainer {
  display: grid;
  gap: 16px;
  padding: 16px 0;
  height: auto;

  &.auto-column {
    grid-template-columns: repeat(2, 1fr);
  }

  &.single-column {
    grid-template-columns: 1fr;
  }
}

.resultsGridContainer {
  display: grid;
  padding-top: 15px;
  height: auto;
  text-align: center;
}

.commonContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0.5ch;
  margin: 0.75ch -1.5ch;
  border-radius: 2ch;
}

.seesYou {
  background-color: var(--wavy-2);
}

.servingTraits {
  background-color: var(--wavy-3);
}

.teams {
  color: var(--color-background-box);
}

.common {
  padding: 0.25ch 0.75ch;
  margin: 0.25ch;
  border: 1px;
  border-radius: 2ch;
  border-style: solid;
}

.answerContainer {
  background-color: var(--color-background-tile-primary);
  border-radius: 0.5ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  &Description {
    transition-duration: 500ms / $duration;
    font-size: 1rem;
    padding: 1ch;
    font-family: var(--font-pp-mori, var(--font-system));
  }

  &.selected {
    background-color: var(--color-orange);
  }
}

.imageContainer {
  // tbc
}
