@import '~/css/helpers';

.pin-spacer {
  position: relative;
  z-index: 1;
}

.pin {
  position: relative;
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  padding: 2vw;

  button {
    border-radius: 1ch;
    border-width: 1px;
    padding: 0.75ch;
    margin: 2ch 2ch 0 0;
    min-width: 20%;
    border-color: var(--color-text-primary);
  }

  button:focus {
    background-color: var(--color-background-box);
  }

  // button:disabled{
  //   border-color: #00000000;
  // }
}
